<%= form_for([@post, @post.comments.build]) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="actions btn btn-secondary">
    <%= form.submit %>
  </div>
<% end %>
