<div class="narrow-form">

  <% if flash[:error] %>
    <br>
    <strong>
      <%= flash[:error] %>
    </strong>
    <br>
    <br>
  <% end %>
  <%= form_tag login_path, :class=> 'form-signin' do %>
  <h2>Welcome </h2>
  <h5 class="h5 mb-3 font-weight-normal">Please sign in</h5>
  <%= label_tag :email, nil, :class => 'sr-only' %>
  <%= email_field_tag :email, '',:class => 'form-control', :placeholder => 'E-mail' %>
  <br>
  <%= label_tag :password, nil, :class => 'sr-only' %>
  <%= password_field_tag :password, '',:class => 'form-control', :placeholder => 'Password' %>
  <br>
  <%= submit_tag("Login", :class=>"btn btn-lg btn-primary btn-block") %>

  <%= link_to 'Create account', new_user_path, :class=>"btn btn-lg btn-secondary btn-block" %>
  <% end %>

</div>