<p id="notice"><%= notice %></p>

<div class="btn btn-dark creation">
  <%= link_to 'New Post Photo', new_post_photo_path %>
</div>

<div class="feed">
  <% @post_photos.each do |post_photo| %>
    <div class="post">
      <div>
        <p><%= post_photo.user.name %></p>
      </div>
      <%= link_to post_photo_path(post_photo.id) do %>
        <%= image_tag post_photo.photo %>
      <% end %>
        <p class="card-text">
          <small class="text-muted">Last updated <%= post_photo.updated_at %></small>
        </p>

    </div>
    <% end%>
  </div>
