<p id="notice"><%= notice %></p>

<div class="btn btn-dark">
  <%= link_to 'New Post Photo', new_post_photo_path %>
</div>

<div class="feed">
  <% @post_photos.each do |post_photo| %>
    <div class="post">
      <div>
        <p><%= post_photo.user.name %></p>
      </div>
      <div class="feed_header">
        <%= image_tag post_photo.photo %>

        <p class="card-text">
          <small class="text-muted">Last updated <%= post_photo.updated_at %></small>
        </p>
          <td><%= link_to 'Show', post_photo, :class=>'btn btn-primary btn-sm' %></td>

        <% if @current_user.present? && @current_user.admin %>
          <td><%= link_to 'Edit', edit_post_photo_path(post_photo), :class=>'btn btn-secondary btn-sm' %></td>
          <td><%= link_to 'Destroy', post_photo, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-sm'  %></td>
        <% end %>
      </div>
    </div>
    <% end%>
  </div>
