<p id="notice"><%= notice %></p>

<h1>Post Photos</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_photos.each do |post_photo| %>
      <tr>
        <td><%= image_tag post_photo.photo %></td>
        <td><%= link_to 'Show', post_photo %></td>
        <td><%= link_to 'Edit', edit_post_photo_path(post_photo) %></td>
        <td><%= link_to 'Destroy', post_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post Photo', new_post_photo_path %>
