<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_post %>
    <%= form.text_area :user_post %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="like_field">
    <%= f.label :likes %><br>
    <%= f.select :likes, VotePost.votes.keys %>
  </div>

  <div class="dislike_field">
    <%= f.label :dislike %><br>
    <%= f.select :dislike, VotePost.votes.keys %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
