<p id="notice"><%= notice %></p>

<div class="btn btn-dark">
  <%= link_to 'New Post', new_post_path %>
</div>
<br>
<div class="feed">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="avatar">
        <img class="avatar" src="<%= post.user.profile_pic %>" alt="<%= post.user_post %>">
        <p><%= post.user.name %></p>
      </div>
      <div class="feed_header">
        <p><%= post.user_post %></p>
        <img src="<%= post.user_photo %>" alt="<%= post.user_post %>" class="post-image">
        <p class="card-text"><small class="text-muted">Last updated <%= post.updated_at %></small></p>
        <% if @current_user.present? && @current_user.admin %>
          <td><%= link_to 'Show', post, :class=>'btn btn-primary btn-sm' %></td>
          <td><%= link_to 'Edit', edit_post_path(post), :class=>'btn btn-secondary btn-sm' %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-sm'  %></td>
        <% end %>
      </div>
    </div>
    <% end%>
  </div>
