<p id="notice"><%= notice %></p>
<div class="btn btn-dark">
  <%= link_to 'New Post', new_post_path %>
</div>
<br>
<div class="feed">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="avatar-container">
        <%= link_to user_path(post.user.id) do %>
          <img class="avatar" src="<%= post.user.profile_pic %>" alt="<%= post.user_post %>">
        <% end%>
        <p><%= post.user.name %></p>
      </div>
      <div>
        <p><%= post.user_post %></p>

          <%= link_to post_path(post.id) do %>
          <%= cl_image_tag(post.user_photo, :class=>'post-image') %>
          <% end %>
        <p class="card-text">
          <small class="text-muted">Last updated <%= post.updated_at %></small>
        </p>
      </div>

    </div>
    <div class="likes-posts">

      <%= post.likes.count %> <%= (post.likes.count) == 1 ? '' : ''%>
      :
      <% if post.already_liked_by?(@current_user) %>
        <%= button_to 'Unlike', likes_path, method: :delete, params: {target_type:'post', target_id:post.id} %>
      <% else %>
        <%= button_to 'Like', likes_path, method: :post, params: {target_type:'post', target_id:post.id} %>
      <% end %>

      <%= post.dislikes.count %> <%= (post.dislikes.count) == 1 ? '' : ''%>
      :
      <% if post.already_disliked_by?(@current_user) %>
        <%= button_to 'Undislike', dislikes_path, method: :delete, params: {target_type:'post', target_id:post.id} %>
      <% else %>
        <%= button_to 'Dislike', dislikes_path, method: :post, params: {target_type:'post', target_id:post.id} %>
      <% end %>
      <br>
      <br>
      <br>
      <br>
    </div>
  <% end%>
</div>
