<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post.user_post %>
</p>

<%= cl_image_tag @post.user_photo.first.image, class: ‘edit_thumb’, crop: ‘fill’, width: 100, height: 100 %>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<% if @post.already_liked_by?(@current_user) %>
<%= button_to 'Unlike', likes_path, method: :delete, params: {target_type:'post', target_id:@post.id} %>
<% else %>
<%= button_to 'Like', likes_path, method: :post, params: {target_type:'post', target_id:@post.id} %>
<% end %>

<p><%= @post.dislikes.count %> <%= (@post.dislikes.count) == 1 ? 'Dislike' : 'Dislikes'%></p>
<% if @post.already_disliked_by?(@current_user) %>
<%= button_to 'Undislike', dislikes_path, method: :delete, params: {target_type:'post', target_id:@post.id} %>
<% else %>
<%= button_to 'Dislike', dislikes_path, method: :post, params: {target_type:'post', target_id:@post.id} %>
<% end %>

<br>
<div>
  <p><strong><%= @post.comments.count %></strong> Comments</p>
  <%= render @post.comments %>
  <div>
    <div class="col-7">
      <hr />
      <p class="subtitle is-3">Add a comment<p>
        <%= render 'comments/form' %>
    </div>
  </div>
</div>


