<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post.user_post %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @post.user_photo %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>


<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<% pre_like = @post.likes.find { |like| like.user_id == @current_user.id} %>
<% if pre_like %>
<%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% elsif %>
<%= button_to 'Like', post_likes_path(@post), method: :post %>
<% else %>
<%= button_to 'Disike', post_dislikes_path(@post), method: :post%>
<% end %>



<p><%= @post.dislikes.count %> <%= (@post.dislikes.count) == 1 ? 'Dislike' : 'Dislikes'%></p>

<% pre_dislike = @post.dislikes.find { |dislike| dislike.user_id == @current_user.id} %>
<% if pre_dislike %>
<%= button_to 'Undislike', post_dislike_path(@post, pre_dislike), method: :delete %>
<% else %>
<%= button_to 'Disike', post_dislikes_path(@post), method: :post %>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
